<div class="modal shadow-1 white rounded-3 bouncing" id="modal-example" data-ax="modal">
	<div class="modal-header">
		Header
		<button data-target="modal-example" class="modal-trigger">
			<i class="fas fa-times"></i>
		</button>
	</div>
	<div class="modal-content">
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolorum eum in totam amet soluta! Id distinctio iusto
								    voluptatum ipsam officia, odit neque, fuga, commodi totam repellendus deserunt quod laborum? Lorem ipsum dolor sit amet consectetur
								    adipisicing elit. Assumenda nostrum doloribus quisquam minima minus animi voluptatum illo illum. Vel, labore iure aut sed nobis
								    officiis itaque molestias rerum natus vero.
	</div>
	<div class="modal-footer">
		Footer
	</div>
</div>

<button class="btn rounded-1 primary press modal-trigger" data-target="modal-example">OPEN MODAL</button
